.container{
    margin-top: 70px;
}

.shadow-sm{
    box-shadow: 5px 5px 10px rgba(40, 39, 39, 0.3) !important;
}
.btn-primary:hover {
    background-color: #2216ff !important; /* Darker shade of blue */
   /* Keep border matching */
}

.link-secondary {
    text-decoration: none;

}


.link-secondary:hover {
    text-decoration: underline;
    color: rgb(0, 0, 202) !important;
}

.custom-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.mb-5{
    margin-bottom: 0px !important;
    margin-top: 20px;
}

.input-group {
    margin-bottom: 4px;
}
